@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
  display: inline-block;
}
body {
  margin: 0;
}
body,html {
  font-family: "Montserrat", sans-serif;
  color: #1D1D1B;
  font-size: 16px;
  line-height: 1.5;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
tbody::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
 // Track 
::-webkit-scrollbar-track {
  border-radius: 0px;
}
// Handle 
::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background: #4B4B4D;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #4B4B4D;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @media (min-width: 768px) {
    width: 90%;
  }
  @media (min-width: 1600px) {
    max-width: 1590px;
  }
}
.container_lg {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-10,
.col-lg-8 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.order-1 {
  order: 1;
}
.order-12 {
  order: 12;
}
@media (min-width: 768px) {
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.666667%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.33333%;
  }
  .order-md-1 {
    order: 1;
  }
  .order-md-12 {
    order: 12;
  }
}
@media (min-width: 1200px) {
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.666667%;
  }
}
.d-flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.justify-content-between {
  justify-content: space-between;
}
.d-none {
  display: none;
}
.d-md-block {
  @media (min-width: 768px) {
    display: block;
  }
}
.h1, h2, h3 {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}
.h1 {
  font-size: 68px;
  line-height: 150%;
  letter-spacing: 0.68px;
  @media (max-width: 1720px) {
    font-size: 60px;
  }
  @media (max-width: 1620px) {
    font-size: 54px;
  }
  @media (max-width: 1440px) {
    font-size: 50px;
  }
  @media (max-width: 1200px) {
    font-size: 44px;
  }
  @media (max-width: 991.98px) {
    font-size: 36px;
  }
  @media (max-width: 767.98px) {
    font-size: 34px;
    line-height: 140%;
  }
  @media (max-width: 575.98px) {
    font-size: 30px;
  }
  @media (max-width: 479.98px) {
    font-size: 25px;
  }
}
.h2 {
  font-size: 48px;
  line-height: 140%;
  letter-spacing: 0.48px;
  @media (max-width: 1440px) {
    font-size: 38px;
  }
  @media (max-width: 1200px) {
    font-size: 34px;
  }
  @media (max-width: 991.98px) {
    font-size: 26px;
  }
  @media (max-width: 767.98px) {
    font-size: 24px;
  }
  @media (max-width: 575.98px) {
    font-size: 22px;
  }
  @media (max-width: 479.98px) {
    font-size: 20px;
  }
}
.h3 {
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0.32px;
  @media (max-width: 1440px) {
    font-size: 28px;
  }
  @media (max-width: 1200px) {
    font-size: 26px;
  }
  @media (max-width: 991.98px) {
    font-size: 24px;
  }
  @media (max-width: 767.98px) {
    font-size: 20px;
  }
  @media (max-width: 575.98px) {
    font-size: 18px;
  }
}
.text {
  font-size: 24px;
  line-height: 1.5;
  @media (max-width: 1440px) {
    font-size: 22px;
  }
  @media (max-width: 1200px) {
    font-size: 20px;
  }
  @media (max-width: 991.98px) {
    font-size: 18px;
  }
  @media (max-width: 767.98px) {
    font-size: 16px;
  }
}
a {
  color: #1D1D1B;
  transition: all 0.3s;
  text-decoration: none;
  display: inline-block;
  &:hover {
    color: #000;
  }
}
ul {
  list-style-type: none;
  padding-left: 0;
}
.fw-400 {
  font-weight: 400 !important;
}
.fw-500 {
  font-weight: 500 !important;
}
.fw-600 {
  font-weight: 600 !important;
}
.fw-700 {
  font-weight: 700 !important;
}
.text-center {
  text-align: center;
}
.color_green {
  color: #5EA95A;
}
.color_gray {
  color: #8F8F8F;
}
.w-100 {
  width: 100%;
}
.lh-18 {
  line-height: 1.8 !important;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mb-40 {
  margin-bottom: 40px;
  @media (max-width: 767.98px) {
    margin-bottom: 20px;
  }
}